<div class="wrapper">
<div class="container form">
    <form action="/add" enctype="multipart/form-data" method="post">
    <label for="name">Full Name</label>
        <input type="text" name="name" class="input" required/>


    <label for="email">Email</label>
        <input type="email" name="email" class="input" required/>


    <label for="phone">Phone number</label>
        <input type="text" name="phone" class="input" required/> 

    <label for="games">Games</label>
        <textarea name="games"  cols="30" rows="10" class="input" required></textarea>

    <label for="image">Image</label>
        <input type="file" name="image" id="" class="input" required/>

        <input type="submit" value="ADD" class="input" />
    </form>
</div>
</div>